.card {
  width: 100%;
  background: #fff;
  border-radius: 10px;
  padding: 16px;
  position: relative;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.04);
}

.promoted {
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 4px;
  font-weight: 600;
}

.header {
  display: flex;
  gap: 12px;
  margin-top: 16px;
}

.title {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}

.company {
  font-size: 12px;
  color: #8c8c8c;
  margin: 0;
}

.meta {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 13px;
  color: #595959;
}

.meta span {
  display: flex;
  align-items: center;
  gap: 6px;
}

.actions {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.applyBtn {
  flex: 1;
  background-color: var(--color-primary);
  min-width: 80%;
  max-width: 115px;
  padding: 4px;
  height: 34px;
  font-size: 12px;
}

.saveBtn {
  width: 40px;
  border: 0;
}


.avatar {
  background-color: #f5f5f5; /* fill bg for transparent PNG */
  padding: 6px;              /* space around logo */
  box-sizing: border-box;
}

.avatarImg {
  width: 100%;
  height: 100%;
  object-fit: contain;       /* keeps PNG inside */
}