.wrapper {
  padding: 0px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
}

.header h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 🔥 5 cards per row */
  gap: 16px;
}